Pods
Podfile.lock

iPnp.xcodeproj/xcuserdata/francocedillo.xcuserdatad/xcschemes/iPnp.xcscheme

iPnp.xcodeproj/xcuserdata/francocedillo.xcuserdatad/xcschemes/xcschememanagement.plist

iPnp.xcworkspace/xcshareddata/iPnp.xccheckout

iPnp.xcworkspace/xcuserdata/francocedillo.xcuserdatad/WorkspaceSettings.xcsettings

iPnp.xcworkspace/xcuserdata/francocedillo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
